.match {
    padding-bottom: 40px;
    user-select: none;
}

.match__players {
    padding: 20px 0 ;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    @include scale(gap, 15px, 30px);
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 150ms ease-in-out;

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}

.match__player {
    margin-bottom: 0;
    width: auto;
    padding: 0;
    flex: 1;
}

.match__vs {
    font-weight: 500;
    width: 30px;
    text-align: center;
}

.match__scores {
    display: flex;
    @include scale(gap, 15px, 30px);
    justify-content: space-between;
    align-items: stretch;
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 150ms ease-in-out;

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}

.match__score {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    flex: 1;
    border-radius: 5px;
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 150ms ease-in-out;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    &:first-child {
        background-color: $color-orange;
        color: $color-grey;
    }

    &:last-child {
        background-color: $color-grey;
        color: $color-orange;
    }
}

.match__score-serve {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    background-color: $color-grey-light;
    height: 30px;
    width: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1px;
    border-radius: 5px;
    display: none;
    color: $black;

    &.active {
        display: flex;
    }
}

.match__score-number {
    @include scale(font-size, 90px, 120px);
    font-weight: 500;
    line-height: 1.2;
    padding-bottom: 10px;
}

.match__score-split {
    display: flex;
    flex-direction: column;
}

.match__undo {
    width: 30px;
    padding: 5px;

    svg {
        width: 100%;
    }
}

.match__finish {
    margin-top: auto;
    padding: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out;

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}

.match__rematch {
    margin-top: auto;
    padding: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out;

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}